.content_c48ade {
  margin-top: unset;
  margin-bottom: var(--custom-guild-list-width);
}

#app-mount .guilds_c48ade {
  top: calc(100% + var(--custom-guild-list-width));
}

.container_c48ade > div[style]:not(.base_c48ade) {
  bottom: calc(var(--custom-guild-list-width) * 2);
  top: unset;
}
.container_c48ade > div[style]:not(.base_c48ade) .guilds_c48ade {
  top: calc(100% + var(--custom-guild-list-width) * 2) !important;
}
.container_c48ade > div[style]:not(.base_c48ade) + .base_c48ade .content_c48ade {
  margin-top: unset;
  margin-bottom: calc(var(--custom-guild-list-width) * 2);
}
