.base__5e434[data-fullscreen=false] .content__5e434 {
  margin-top: unset;
  margin-bottom: var(--custom-guild-list-width);
}

#app-mount .guilds__5e434 {
  top: calc(100% + var(--custom-guild-list-width));
}

.base__5e434 > div[style]:not(.base__5e434) {
  bottom: calc(var(--custom-guild-list-width) * 2);
  top: unset;
}
.base__5e434 > div[style]:not(.base__5e434) .guilds__5e434 {
  top: calc(100% + var(--custom-guild-list-width) * 2) !important;
}
.base__5e434 > div[style]:not(.base__5e434) + .base__5e434 .content__5e434 {
  margin-top: unset;
  margin-bottom: calc(var(--custom-guild-list-width) * 2);
}
