body #app-mount .app_a3002d .base_c48ade {
  top: 0 !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds_c48ade {
  top: unset !important;
  left: 100vw;
  bottom: 0 !important;
  transform-origin: bottom left;
}
body #app-mount .guilds_c48ade [class*=pill] {
  top: unset !important;
  bottom: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
}
body #app-mount .guilds_c48ade [class*=pill] span {
  border-radius: 4px 0 0 4px;
}
body #app-mount .guilds_c48ade.content-Pph8t6 {
  top: unset !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds_c48ade.content-Pph8t6:not(.closed-j55_T-) + .base_c48ade {
  top: 0 !important;
  bottom: calc(var(--server-container) * 2) !important;
}
body #app-mount [class*=listItemTooltip_] {
  position: absolute;
  white-space: nowrap;
  top: calc(var(--server-size) / -1 - 30px) !important;
  margin-left: calc(var(--server-size) / -1 - 20px);
}
body #app-mount [class*=listItemTooltip_] [class*=tooltipPointer] {
  transform: rotate(0) !important;
  top: unset !important;
  bottom: -10px !important;
}

html.platform-osx #app-mount .base_c48ade {
  top: 32px !important;
}