/**
 * @name Horizontal Server List
 * @author Gibbu#1211
 * @version 2.0.0
 * @invite TeRQEPb
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @website https://www.gibbu.me
*/

@import url("https://discordstyles.github.io/HorizontalServerList/base.css");

:root {
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
}