:root {
  --notices-height: 36px;
  --serverlist-offset: var(--custom-guild-list-width);
}

._5e434347c823b592-base[data-fullscreen=false] ._5e434347c823b592-content {
  margin-top: var(--serverlist-offset);
  overflow: visible !important;
}

:fullscreen .content__5e434 {
  margin: 0 !important;
}

#app-mount ._5e434347c823b592-sidebar {
  border-radius: 0;
  overflow: visible !important;
}
#app-mount ._5e434347c823b592-guilds {
  transform-origin: top left;
  rotate: -90deg;
  height: 100vw !important;
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .ef3116c2da186559-tree {
  padding-top: var(--HSL-top-padding, var(--size-sm));
}
#app-mount ._6e9f8dce4cc18de3-wrapper,
#app-mount ._48112cbe77dc5022-folderPreview,
#app-mount ._48112cbe77dc5022-folderIconWrapper {
  rotate: 90deg;
}
#app-mount ._6e9f8dce4cc18de3-childWrapper {
  rotate: 0deg;
}
#app-mount .ef3116c2da186559-itemsContainer,
#app-mount .dbd2630aec71879b-stack {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);
}
#app-mount ._6e2b9359c6f84cfd-notice {
  height: var(--notices-height);
}
#app-mount ._6e2b9359c6f84cfd-notice + ._5e434347c823b592-content {
  --serverlist-offset: calc(var(--notices-height) + var(--custom-guild-list-width));
}

._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) {
  width: 100vw !important;
  height: var(--serverlist-offset) !important;
  position: absolute;
  top: calc(var(--serverlist-offset) + var(--custom-app-top-bar-height));
  pointer-events: none;
  z-index: 1;
}
._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) ._5e434347c823b592-guilds {
  pointer-events: all;
}
._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) + ._5e434347c823b592-base ._5e434347c823b592-content {
  margin-top: calc(var(--serverlist-offset) * 2);
}
