:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
  --server-direction: var(--HSL-server-direction, column);
  --server-alignment: var(--HSL-server-alignment, flex-start);
}

#app-mount .guilds-2JjMmN {
  width: var(--server-container);
}
#app-mount .guilds-2JjMmN .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds-2JjMmN .svg-2ifYOU,
#app-mount .guilds-2JjMmN .wrapper-2PSQCG,
#app-mount .guilds-2JjMmN .guildsError-b7zR5H,
#app-mount .guilds-2JjMmN .placeholderMask-2FHNZU {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds-2JjMmN [role=group] {
  height: auto !important;
}
#app-mount .guilds-2JjMmN [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  translate: -50% 0;
}
#app-mount .guilds-2JjMmN .wrapper-z5ab_q {
  height: var(--server-size) !important;
}
#app-mount .guilds-2JjMmN .wrapper-38slSD {
  width: var(--server-container);
}
#app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-container);
}