:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
  --server-direction: var(--HSL-server-direction, column);
  --server-alignment: var(--HSL-server-alignment, flex-start);
}

#app-mount .guilds_c48ade {
  width: var(--server-container);
}
#app-mount .guilds_c48ade .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds_c48ade .svg_cc5dd2,
#app-mount .guilds_c48ade .wrapper_cc5dd2,
#app-mount .guilds_c48ade .guildsError-b7zR5H,
#app-mount .guilds_c48ade .placeholderMask__87847 {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds_c48ade [role=group] {
  height: auto !important;
}
#app-mount .guilds_c48ade [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  translate: -50% 0;
}
#app-mount .guilds_c48ade .wrapper__58105 {
  height: var(--server-size) !important;
}
#app-mount .guilds_c48ade .wrapper__48112 {
  width: var(--server-container);
}
#app-mount .guilds_c48ade [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-container);
}