:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
  --server-direction: var(--HSL-server-direction, column);
  --server-alignment: var(--HSL-server-alignment, flex-start);
}

#app-mount .guilds__2b93a {
  width: var(--server-container);
}
#app-mount .guilds__2b93a .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds__2b93a .svg__34dd4,
#app-mount .guilds__2b93a .wrapper__9916c,
#app-mount .guilds__2b93a .guildsError-b7zR5H,
#app-mount .guilds__2b93a .placeholderMask_ca6625 {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds__2b93a [role=group] {
  height: auto !important;
}
#app-mount .guilds__2b93a [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  translate: -50% 0;
}
#app-mount .guilds__2b93a .wrapper_b4903b {
  height: var(--server-size) !important;
}
#app-mount .guilds__2b93a .wrapper__832f2 {
  width: var(--server-container);
}
#app-mount .guilds__2b93a [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-container);
}