// Anything related to resizing the list, will be placed in here.
@use '../addons/resizablelist';

#app-mount {
	.app_b1f720 .base__3e6af {
		top: var(--server-container) !important;
		position: absolute !important;
		left: 0 !important;
		right: 0;
		bottom: 0;
		max-width: 100%;
	}

	.sidebar_ded4b5 {
		border-radius: 0;
	}

	[class*='unreadMentionsIndicator'] {
		width: var(--server-size);
		padding: 0;
		left: 50%;
		transform: translateX(-50%);
		height: auto;
	}

	.guilds__2b93a {
		transform-origin: top left;
		transform: rotate(-90deg);
		height: 100vw !important;
		top: var(--server-container);
		bottom: unset;
		position: absolute !important;
		left: 0;

		& > [data-list-id='guildsnav'] {
			margin-bottom: 0 !important;
		}

		.scrollerBase__2b744 {
			padding: var(--server-spacing) 0 !important;
			display: flex;
			flex-direction: var(--server-direction);
			gap: var(--server-spacing);
			align-items: var(--server-alignment);
			justify-content: var(--server-alignment);

			& > div[style]:not(.listItem-2P_4kh) {
				height: auto !important;
				&[style*='height: 0px'] {
					padding-top: 1px;
				}
			}
			& > div[aria-label] {
				display: flex;
				flex-direction: var(--server-direction);
				gap: var(--server-spacing);
			}
		}

		[class*='pill'] {
			transform: rotate(90deg) translateY(-50%);
			height: var(--server-size);
			width: 4px;
			top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
			margin-left: -2px;
			span {
				height: 100% !important;
				width: 4px !important;
				transform: scale(0, 1) !important;
				transition: 0.15s ease !important;
				margin-left: 0;
				border-radius: 0 4px 4px 0;
			}
			@for $i from 0 through 8 {
				span[style*='height: #{$i}'] {
					transform: scale(1, 0.24) !important;
				}
			}
			// Hovered
			@for $i from 9 through 20 {
				span[style*='height: #{$i}'] {
					transform: scale(1, 0.7) !important;
				}
			}
			// Selected
			@for $i from 21 through 40 {
				span[style*='height: #{$i}'] {
					transform: scale(1, 1) !important;
				}
			}
		}

		.wrapper_ed1dea {
			display: flex;
			flex-direction: var(--server-direction);
			gap: var(--server-spacing);
			ul[role='group'] {
				display: flex;
				flex-direction: var(--server-direction);
				gap: var(--server-spacing);
			}
		}

		[class*='listItem']:not([class*='listItemWrapper']) {
			width: var(--server-size);
			transform: rotate(90deg);
			margin: 0 10px;
			position: unset;
		}

		[class*='guildSeparator'] {
			transform: rotate(90deg);
			width: var(--server-size);
		}

		[class*='expandedFolderBackground'] {
			border-radius: 10px;
			height: 100%;
		}

		.folder__17546 {
			background: transparent;
		}

		// Dragging server indicator
		.wrapper_a54cba {
			top: 0;
			bottom: 0;
		}
		.target__47b05::before {
			top: 0;
			height: var(--server-size);
			width: 4px;
			left: -6px;
		}

		&.hidden__7c832 + .base__3e6af {
			top: 0 !important;
		}
	}
	[class*='listItemTooltip'] {
		position: absolute;
		max-width: unset;
		white-space: nowrap;
		margin-left: calc(var(--server-size) / -1 - 20px);
		top: calc(var(--server-size) - 10px);
		[class*='tooltipPointer'] {
			transform: rotate(180deg);
			top: -5px !important;
			right: unset;
			left: 13px;
			z-index: 1;
		}
	}

	// OnlineFriendCount by Zerethox
	.friendsOnline-2JkivW {
		position: absolute;
		transform: translate(-50%, 50%);
		top: calc(-50% + var(--server-spacing));
		left: calc(-50%);
		width: calc(var(--server-size) + var(--server-spacing));
		display: flex;
		justify-content: center;
	}

	// Server Folders by DevilBro and BetterFolders by Juby210 & Lighty
	.guilds__2b93a.content-Pph8t6,
	.BF-folderSidebar {
		position: absolute !important;
		top: calc(var(--server-container) * 2) !important;
		&:not(.closed-j55_T-) + .base__3e6af {
			top: calc(var(--server-container) * 2.5) !important;
		}
	}

	// ReadAllNotifications by DevilBro
	.guilds__2b93a .frame-oXWS21[class*='listItem'] {
		height: var(--server-size) !important;
		.wrapper_d281dd {
			height: 100% !important;
		}
		.button-Jt-tIg {
			width: 100%;
			height: 100% !important;
			border-radius: 50%;
			padding: 2px;
			font-size: 10px;
			box-sizing: border-box;
			text-align: center;
		}
	}

	// BetterFolders by Juby210 & Lighty
	.BF-folderSidebar {
		top: calc(var(--server-container)) !important;
	}

	// ServerCounter by DevilBro
	.serverCountWrap-k8F5De {
		height: var(--server-size);
	}
	.serverCount-FsTTs1 {
		white-space: pre-line;
		font-size: 12px;
		display: flex;
		align-items: center;
	}
}
html.platform-osx #app-mount {
	.typeMacOS__496b0 {
		width: 100%;
	}
	.base__3e6af {
		top: calc(var(--server-container) + 30px) !important;
	}
	#pluginNotice {
		top: 32px;
		z-index: 100000 !important;
	}
}

body.foldercontentopened .base__3e6af {
	transition: 0.2s ease !important;
}

// User area being offset
.accountProfilePopoutWrapper_af829a {
	left: 0;
}
