:root {
	--server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
	--server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
	--server-container: calc(var(--server-size) + 20px);
	--server-direction: var(--HSL-server-direction, column);
	--server-alignment: var(--HSL-server-alignment, flex-start);
}
