._5e434347c823b592-content {
	margin-top: unset;
	margin-bottom: var(--custom-guild-list-width);
}
#app-mount {
	._5e434347c823b592-guilds {
		top: calc(100% + var(--custom-guild-list-width));
	}
}

// BetterFolders - Vencord
._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) {
	bottom: calc(var(--custom-guild-list-width) * 2);
	top: unset;

	._5e434347c823b592-guilds {
		top: calc(100% + var(--custom-guild-list-width) * 2) !important;
	}

	& + ._5e434347c823b592-base ._5e434347c823b592-content {
		margin-top: unset;
		margin-bottom: calc(var(--custom-guild-list-width) * 2);
	}
}
