@use '../theme/vars';

#app-mount .guilds_c48ade {
	width: var(--server-container);
	.scrollerWrap-1IAIlv {
		width: calc(100% + 30px);
	}
	.svg_cc5dd2,
	.wrapper_cc5dd2,
	.guildsError-b7zR5H,
	.placeholderMask__87847 {
		width: var(--server-size);
		height: var(--server-size);
	}
	[role='group'] {
		height: auto !important;
	}
	[class*='expandedFolderBackground'] {
		width: var(--server-size);
		left: 50%;
		translate: -50% 0;
	}
	.wrapper__58105 {
		height: var(--server-size) !important;
	}
	.wrapper__48112 {
		width: var(--server-container);
	}
	[class*='listItem']:not([class*='listItemWrapper']) {
		width: var(--server-container);
	}
}
