@use '../theme/vars';

#app-mount .guilds_a4d4d9 {
	width: var(--server-container);
	.scrollerWrap-1IAIlv {
		width: calc(100% + 30px);
	}
	.svg_c5f96a,
	.wrapper_c5f96a,
	.guildsError-b7zR5H,
	.placeholderMask_f734d8 {
		width: var(--server-size);
		height: var(--server-size);
	}
	[role='group'] {
		height: auto !important;
	}
	[class*='expandedFolderBackground'] {
		width: var(--server-size);
		left: 50%;
		translate: -50% 0;
	}
	.wrapper_c4cd66 {
		height: var(--server-size) !important;
	}
	.wrapper_bc7085 {
		width: var(--server-container);
	}
	[class*='listItem']:not([class*='listItemWrapper']) {
		width: var(--server-container);
	}
}
