:root {
	--notices-height: 36px;
	--serverlist-offset: var(--custom-guild-list-width);
}

.base__5e434[data-fullscreen='false'] .content__5e434 {
	margin-top: var(--serverlist-offset);
	overflow: visible !important;
}

:fullscreen .content__5e434 {
  margin: 0 !important;
}


#app-mount {
	.sidebar__5e434 {
		border-radius: 0;
		overflow: visible !important;
	}

	.guilds__5e434 {
		transform-origin: top left;
		rotate: -90deg;
		height: 100vw !important;
		bottom: unset;
		position: absolute !important;
		left: 0;
	}

	.tree_ef3116 {
		padding-top: var(--HSL-top-padding, var(--size-sm));
	}

	// Rotate the icons back
	.wrapper__6e9f8,
	.folderPreview__48112,
	.folderIconWrapper__48112,
	.lowerBadge_cc5dd2,
	.upperBadge_cc5dd2 {
		rotate: 90deg;
	}
	.childWrapper__6e9f8 {
		rotate: 0deg;
	}

	.itemsContainer_ef3116,
	.stack_dbd263 {
		flex-direction: var(--HSL-server-direction);
		justify-content: var(--HSL-server-alignment);
	}

	// Notices
	.notice__6e2b9 {
		height: var(--notices-height);

		& + .content__5e434 {
			--serverlist-offset: calc(var(--notices-height) + var(--custom-guild-list-width));
		}
	}
}

// BetterFolders - Vencord
.container__5e434 > div[style]:not(.base__5e434) {
	width: 100vw !important;
	height: var(--serverlist-offset) !important;
	position: absolute;
	top: calc(var(--serverlist-offset) + var(--custom-app-top-bar-height));
	pointer-events: none;
	z-index: 1;

	.guilds__5e434 {
		pointer-events: all;
	}

	& + .base__5e434 .content__5e434 {
		margin-top: calc(var(--serverlist-offset) * 2);
	}
}
