:root {
	--notices-height: 36px;
	--serverlist-offset: var(--custom-guild-list-width);
}

.base_c48ade[data-fullscreen="false"] .content_c48ade {
	margin-top: var(--serverlist-offset);
	overflow: visible !important;
}

#app-mount {
	.sidebar_c48ade {
		border-radius: 0;
		overflow: visible !important;
	}

	.guilds_c48ade {
		transform-origin: top left;
		rotate: -90deg;
		height: 100vw !important;
		bottom: unset;
		position: absolute !important;
		left: 0;
	}

	.tree_ef3116 {
		padding-top: var(--HSL-top-padding, var(--size-sm));
	}

	.wrapper_cc5dd2 {
		rotate: 90deg;
	}

	.itemsContainer_ef3116,
	.stack_dbd263 {
		flex-direction: var(--HSL-server-direction);
		justify-content: var(--HSL-server-alignment);
	}

	// Notices
	.notice__6e2b9 {
		height: var(--notices-height);

		& + .content_c48ade {
			--serverlist-offset: calc(var(--notices-height) + var(--custom-guild-list-width));
		}
	}
}

// BetterFolders - Vencord
.container_c48ade > div[style]:not(.base_c48ade) {
	width: 100vw !important;
	height: var(--serverlist-offset) !important;
	position: absolute;
	top: calc(var(--serverlist-offset) + var(--custom-app-top-bar-height));
	pointer-events: none;
	z-index: 1;

	.guilds_c48ade {
		pointer-events: all;
	}

	& + .base_c48ade .content_c48ade {
		margin-top: calc(var(--serverlist-offset) * 2);
	}
}
